[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
statsmodels = "*"
tqdm = "*"
joblib = "*"
argparse = "*"
lxml = "*"
dash = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
